.tag_filter {
  display: block;
  float: right;
  margin: 0 auto 40px;
  height: 50px;
}

.tag_filter::after {
  content: "";
  display: block;
  clear: both;
}

.tag_filter * {
  text-align: left;
}

.tag_filter h3 {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #fff;
  line-height: 15px;
  margin-top: 17px;
  color: #fff;
}

.tag_filter_inner {
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.tag_filter_inner:last-child {
  margin-right: 0;
}

.tag_filter h3,
.tag_filter_inner {
  float: left;
}

.tag_filter_inner .react-datepicker-wrapper {
  float: left;
  color: #fff;
  /* margin-left: 20px; */
}

.tag_filter_inner .react-datepicker__tab-loop {
  float: left;
}

.tag_filter_inner>div>p:first-child {
  margin-right: 12px;
}

.tag_filter_inner>div>p {
  float: left;
  color: #fff;
  line-height: 54px;
  margin: 0 5px;
}

.tag_filter .pl {
  width: 200px;
  line-height: 50px;
  border: none;
  background: rgba(255, 255, 255, .05);
  z-index: 8;
  color: #fff;
  border-radius: 25px;
  padding: 0 25px 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all.2s;
  position: relative;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  float: left;
}

.tag_filter .pl::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  position: absolute;
  right: 24px;
  top: 18px;
  transition: all.2s;
}

.tag_filter .pl.pl2::after {
  display: none;
}

.tag_filter .pl:hover {
  background: rgba(255, 255, 255, .15);
  outline: none;
  height: max-content;
}

.tag_filter .pl:hover::after {
  transform: rotate(-135deg);
  top: 24px;
}

.tag_filter .listbox {
  position: absolute;
  top: 55px;
  width: 200px;
  height: 0;
  max-height: 354px;
  padding: 0 3px;
  border: none;
  background: rgba(0, 0, 0, .9);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2);
  border-radius: 26px;
  transition: all.3s;
  overflow: hidden;
  z-index: 999;
}

.tag_filter_inner:hover .listbox {
  padding: 10px 3px;
}

.tag_filter_inner:hover .listbox {
  height: fit-content;
  overflow-y: scroll;
}

.tag_filter_inner .listbox::-webkit-scrollbar {
  width: 0px;
  border-radius: 0px;
}

.tag_filter .list {
  padding: 0 15px;
  margin: 0 7px;
  width: calc(100% - 16px);
  border-radius: 20px;
  text-align: left;
  font-weight: 400;
  line-height: 40px;
  background: none;
  color: #fff;
  text-transform: uppercase;
  transition: all.2s;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.tag_filter .list:hover {
  background: rgba(255, 255, 255, .15);
}


.react-datepicker__tab-loop {
  margin: 0;
}




/* MAX-WIDTH : 1400 */

@media screen and (max-width:1400px) {

  .tag_filter {
    float: none;
    display: block;
    width: 100%;
  }

  .tag_filter h3 {
    display: none;
  }

  .tag_filter .pl.pl2 {
    width: 120px;
  }

}




/* MAX-WIDTH : 900 */

@media screen and (max-width:900px) {


  .tag_filter_inner:last-child {
    display: none;
  }

}




/* MAX-WIDTH : 500 */

@media screen and (max-width:500px) {

}




/* LIGHT - MODE */

.Light-mode .tag_filter h3 {
  border-color: #000;
  color: #000;
}

.Light-mode .tag_filter select,
.Light-mode .order_inner select,
.Light-mode .list .tag_list li,
.Light-mode .tag_filter .tag_list button {
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .4);
  color: #000;
}

.Light-mode .select option {
  background-color: #000;
  color: #fff;
}

.Light-mode .tag_filter h3 {
  border-color: #000;
  color: #000;
}

.Light-mode .tag_filter .list,
.Light-mode .tag_filter .pl.pl2 input {
  color: #000;
}

.Light-mode .tag_filter .tag_filter_inner .pl {
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .4);
  color: #000;
}

.Light-mode .tag_filter .pl::after {
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
}

.Light-mode .tag_filter .tag_filter_inner .listbox {
  background: rgba(255, 255, 255, .9);
  box-shadow: 4px 4px 14px rgba(255, 255, 255, 0.2);
  color: #000;
}

.Light-mode .tag_filter .pl:hover,
.Light-mode .tag_filter .list:hover {
  background: rgba(0, 0, 0, .15);
}